#resultat {
  background-color: green;
  padding: 5px;
  color: white;
  display: none;
}

#error {
  background-color: pink;
  padding: 5px;
  border: 1px;
  border-color: black;
  display: none;
}

/*
    # pour les selecteurs 
    plus d'informations CF w3schools
*/
